table {
    border: 1px solid red;
    margin: 30px;
}
tr {
    margin-top: 10px;
    border: 1px solid gray
}
th {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px double black
}
td {
    padding: 5px 10px;
    border: 1px solid black
}