<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    {% block head %}
    <meta charset="UTF-8">
    {{ turbo() }}
    <title>Главная</title>
    <link type="text/css" rel="stylesheet" href="static/css/table.css">


    {% endblock %}

</head>
<body>
{% block content %}
<script>
anychart.onDocumentLoad(function() {

  var chart = anychart.line([
  {% for n in range(len(graph)) %}
    {x: {{n}}, value: {{graph[n]}}},
  {% endfor %}
  ]);
  chart.title("Граффик объёма выпуска продукции за день");
  chart.container("container").draw();
});





</script>
<div class="content">
    <h1 class="title">Главная страница</h1>
    <table class="main-info stats">
        <tr class="title stats">
            <th class="stats">Работает ячеек</th>
            <th class="stats">Выключено ячеек</th>
            <th class="stats">Ячеек в состоянии ошибки</th>
            <th class="stats">Ячеек в состоянии ожидания</th>
        </tr>
        <tr class="value stats">
            <th class="stats">{{production_data["status"]['work'][0]}}</th>
            <th class="stats">{{production_data["status"]['off'][0]}}</th>
            <th class="stats">{{production_data["status"]['error'][0]}}</th>
            <th class="stats">{{production_data["status"]['wait'][0]}}</th>
        </tr>
    </table>

    <div class="main">
        {% if production_data["speed"] %}
        <p>Скорость изготовления: {{production_data["speed"]}} деталей в час</p>

        {% else %}
        <p>Скорость изготовления: неизвестно</p>
        {% endif %}


        {% if production_data["all_speed"] %}
        <p>Общий объём выпуска готовой продукции: {{production_data["all_speed"]}} деталей </p>

        {% else %}
        <p>Общий объём выпуска готовой продукции: неизвестно</p>
        {% endif %}
        {% if production_data["bad"] %}
        <p>Количество бракованных заготовок за текущий день: {{brak}} деталей за день </p>
        {% else %}
        <p>Количество бракованных заготовок за текущий день: неизвестно</p>
        {% endif %}
        {% if production_data["bad"] %}
        <p>Процент брака: {{production_data["bad"]}}% деталей за день </p>
        {% else %}
        <p>Процент брака: неизвестно</p>
        {% endif %}

        {% if production_data["work_procent"] %}
        <p>Средняя загрузка оборудования за час: {{ production_data["work_procent"] }}% </p>
        {% else %}
        <p>Средняя загрузка оборудования за час: неизвестно</p>
        {% endif %}
    </div>
    <br>
    <br>
    <div style="width: 500px;height: 400px" id="container"></div>
    <span class="title">Информация о ячейках</span>



        <table class="data">
            <tr>
                <th>Номер ячейки</th>
                <th>Название ячейки</th>
                <th>Состояние ячейки</th>
                <th>Состояние ожидания</th>
                <th>Количество обработанных заготовок за час</th>
                <th>Количество обработанных заготовок за день</th>
                <th>Загрузка за последний час</th>
                <th>Загрузка за текущий день</th>
            </tr>
            {% for cell in table_data %}
            <tr>
                <td><a href="{{url_for('cell_info', index=cell['index'])}}"><p>{{cell["index"]}}</p></a></td>
                <td><a href="{{url_for('cell_info', index=cell['index'])}}"><p>{{cells_names[cell["index"]]}}</p></a></td>
                <td><a href="{{url_for('cell_info', index=cell['index'])}}"><p>{{cell["status"]}}</p></a></td>
                <td><a href="{{url_for('cell_info', index=cell['index'])}}"><p>{{cell["wait"]}}</p></a></td>
                <td><a href="{{url_for('cell_info', index=cell['index'])}}"><p>{{cell["speed_hour"]}} деталей</p></a></td>
                <td><a href="{{url_for('cell_info', index=cell['index'])}}"><p>{{cell["speed_day"]}} деталей</p></a></td>
                <td><a href="{{url_for('cell_info', index=cell['index'])}}"><p>{{cell["work_hour"]}}%</p></a></td>
                <td><a href="{{url_for('cell_info', index=cell['index'])}}"><p>{{cell["work_day"]}}%</p></a></td>
            </tr>
            {% endfor %}
        </table>

    {% endblock %}
</div>

</body>
</html>